# Data Exploration

This method describes step by step method of exploring the dataset

Install Dependencies

In [42]:
%pip install pandas
%pip install SQLAlchemy==1.4.46
%pip install matplotlib

Requirement already satisfied: pandas in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy==1.4.46 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from SQLAlchemy==1.4.46) (3.0.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (3.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: cycler>=0.10 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (4.29.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: six>=1.5 in /Users/arpitahalder/opt/anaconda3/envs/tensorflow/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd

# Read the table Salary into a Pandas dataframe
df = pd.read_sql_table('clean_salary', 'sqlite:///../data/clean_salary.sqlite')

In [44]:
# Print the first few rows of the dataframe
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,NM,0,47,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,FL,1,10,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,WA,1,55,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,NY,1,22,1,0,0,0,1

Checking missing value

In [45]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
hourly               0
employer_provided    0
min_salary           0
max_salary           0
avg_salary           0
company_txt          0
job_state            0
same_state           0
age                  0
python_yn            0
R_yn                 0
spark                0
aws                  0
excel                0
dtype: int64

In [46]:
df.shape

(741, 28)

Total rows: 741
Total columns: 28

In [47]:
def get_info(df):
    column_info = df.dtypes.reset_index()
    column_info.columns = ['Column Name', 'Data Type']
    return column_info
df_info = get_info(df)
print(df_info)

          Column Name Data Type
0           Job Title    object
1     Salary Estimate    object
2     Job Description    object
3              Rating   float64
4        Company Name    object
5            Location    object
6        Headquarters    object
7                Size    object
8             Founded     int64
9   Type of ownership    object
10           Industry    object
11             Sector    object
12            Revenue    object
13        Competitors    object
14             hourly     int64
15  employer_provided     int64
16         min_salary     int64
17         max_salary     int64
18         avg_salary   float64
19        company_txt    object
20          job_state    object
21         same_state     int64
22                age     int64
23          python_yn     int64
24               R_yn     int64
25              spark     int64
26                aws     int64
27              excel     int64