# Data Exploration

This method describes step by step method of exploring the dataset

Install Dependencies

In [1]:
%pip install pandas
%pip install SQLAlchemy==1.4.46
%pip install matplotlib

Requirement already satisfied: pandas in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy==1.4.46 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from SQLAlchemy==1.4.46) (2.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/arpitahalder/opt/anaconda3/envs/saki/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Read the table Salary into a Pandas dataframe
df = pd.read_sql_table('clean_salary', 'sqlite:///../data/clean_salary.sqlite')

In [3]:
# Print the first few rows of the dataframe
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel,company
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,...,Tecolote Research\n,NM,0,47,1,0,0,0,1,Tecolote Research
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,...,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0,University of Maryland Medical System
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,...,KnowBe4\n,FL,1,10,1,0,1,0,1,KnowBe4
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,...,PNNL\n,WA,1,55,1,0,0,0,0,PNNL
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,...,Affinity Solutions\n,NY,1,22,1,0,0,0,1,Affinity Solutions

Checking missing value

In [4]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
hourly               0
employer_provided    0
min_salary           0
max_salary           0
avg_salary           0
company_txt          0
job_state            0
same_state           0
age                  0
python_yn            0
R_yn                 0
spark                0
aws                  0
excel                0
company              0
dtype: int64

In [5]:
df.shape

(732, 28)

Total rows: 741
Total columns: 28

In [6]:
def get_info(df):
    column_info = df.dtypes.reset_index()
    column_info.columns = ['Column Name', 'Data Type']
    return column_info
df_info = get_info(df)
print(df_info)

          Column Name Data Type
0           Job Title    object
1     Salary Estimate    object
2     Job Description    object
3              Rating   float64
4            Location    object
5        Headquarters    object
6                Size    object
7             Founded     int64
8   Type of ownership    object
9            Industry    object
10             Sector    object
11            Revenue    object
12        Competitors    object
13             hourly     int64
14  employer_provided     int64
15         min_salary     int64
16         max_salary     int64
17         avg_salary   float64
18        company_txt    object
19          job_state    object
20         same_state     int64
21                age     int64
22          python_yn     int64
23               R_yn     int64
24              spark     int64
25                aws     int64
26              excel     int64
27            company    object

In [7]:
df2 = pd.read_sql_table('ds_salaries', 'sqlite:///../data/ds_salaries.sqlite')

In [8]:
df2.shape

(3755, 11)

In [9]:
df2['work_year'].value_counts()

2023    1785
2022    1664
2021     230
2020      76
Name: work_year, dtype: int64

In [10]:
df2.nunique()

work_year                4
experience_level         4
employment_type          4
job_title               93
salary                 815
salary_currency         20
salary_in_usd         1035
employee_residence      78
remote_ratio             3
company_location        72
company_size             3
dtype: int64